name: MLflow CI

on:
  push:
    branches: [ "master" ]

jobs:
  run-mlproject:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Install Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install MLflow
      run: pip install mlflow

    - name: Run MLflow Project
      working-directory: ./MLProject
      run: mlflow run .
